<tr class="collection">
  <td class="title">
    <%= link_to collection.title,
                [:edit, current_property, current_collection_type, collection] %>
  </td>
  <td>
    <%= collection.collection_type.title %>
  </td>
  <td>
    <%= collection.p.updated_at %>
  </td>
</article>
