<%= page_header(
  :title => current_collection_type.title.pluralize,
  :button => {
    :label => "New #{current_collection_type.title}",
    :path => [:new, current_property, current_collection_type, :collection],
    :options => { :class => 'new button' }
  }) %>

<section class="body">
  <% if @collections.present? %>
    <div class="block">
      <table>
        <thead>
          <tr>
            <!-- <th class="icon"></th> -->
            <th>Title</th>
            <th>Type</th>
            <th>Last Modified</th>
          </tr>
        </thead>
        <tbody class="collections">
          <%= render @collections %>
        </tbody>
      </table>
    </div>
  <% else %>
    <%= render 'empty' %>
  <% end %>
</section>
