<%= page_header(
  :title => current_property.p.label_title('collections'),
  :button => {
    :label => 'New',
    :path => new_property_collection_path(current_property),
    :options => { :class => 'new button' }
  },
  :dropdown => 'collection_types_dropdown'
) %>

<section class="body">
  <% if current_property_collections.present? %>
    <div class="block">
      <%= render current_property_collections %>
    </div>
  <% else %>
    <%= render 'empty' %>
  <% end %>
</section>
