<div class="card">
  <div class="title">
    <h2 class="logo"><%= svg 'sapwood-wordmark-light' %></h2>
    <h1 class="small">
      <p>Great job! You're all set up.</p>
    </h1>
    <!-- <span class="progress" style="width: 100%;"></span> -->
  </div>
  <div class="content center">
    <p>That's it! That wasn't so bad.</p>
    <p>You are now free to explore Sapwood!</p>
    <%= link_to 'Start Using Sapwood!', install_update_path(:step => 'finish'),
                :method => :post, :class => 'button' %>
  </div>
</div>
