<tr class="element">
  <td class="icon"><i class="icon-file"></i></td>
  <% current_template.columns.each do |col| %>
    <% if col.primary? %>
      <td class="primary">
        <%= link_to col.output(element),
                    edit_property_template_element_path(current_property,
                                                        current_template,
                                                        element) %>
      </td>
    <% else %>
      <td><%= col.output(element) %></td>
    <% end %>
  <% end %>
</tr>
