<tr class="element">
  <td class="icon"><i class="icon-file"></i></td>
  <td class="title">
    <%= link_to element.title, [:edit, current_property, element] %>
  </td>
  <td><%= element.slug %></td>
  <td><%= element.template.name %></td>
</tr>
