<%= page_header(
  :title => current_property.p.label_title('elements'),
  :button => {
    :label => 'New',
    :path => new_property_element_path(current_property),
    :options => { :class => 'new button' }
  },
  :dropdown => 'templates_dropdown'
) %>

<section class="body">
  <% if @elements.present? %>
    <div class="block">
      <table>
        <thead>
          <tr>
            <th class="icon"></th>
            <th>Title</th>
            <th>Slug</th>
            <th>Template</th>
          </tr>
        </thead>
        <% if @folders.present? %>
          <tbody class="folders">
            <%= render @folders %>
          </tbody>
        <% end %>
        <% if @elements.present? %>
          <tbody class="elements">
            <%= render @elements %>
          </tbody>
        <% end %>
      </table>
    </div>
  <% else %>
    <%= render 'empty' %>
  <% end %>
</section>
