<%= page_header(
  :title => current_template.name.pluralize,
  :button => {
    :label => "New #{current_template.name}",
    :path => new_property_template_element_path(current_property, current_template),
    :options => { :class => 'new button' }
  }) %>

<section class="body">
  <% if @elements.present? %>
    <div class="block">
      <table>
        <thead>
          <tr>
            <th class="icon"></th>
            <% current_template.columns.each do |col| %>
              <th><%= col.label %></th>
            <% end %>
          </tr>
        </thead>
        <tbody class="elements">
          <%= render @elements %>
        </tbody>
      </table>
    </div>
  <% else %>
    <%= render 'empty' %>
  <% end %>
</section>
