<section class="body">
  <%= minimal_form_for [current_property, current_folder] do |f| %>
    <div class="block">
      <div class="input half">
        <p><em>Give your folder a name.</em></p>
        <%= f.input :title, :autofocus => true, :wrapper => false %>
      </div>
    </div>
    <%= f.submit "Save Folder" %>
  <% end %>
</section>
