
// ---------------------------------------- Base

html.no-scroll, body.no-scroll {
  overflow: hidden;
}

body {
  background: $lt-grey;

  #container {
    margin: rem(25) auto;
    @include desktop {
      max-width: rem(800);
      &.sidebar {
        padding-left: rem(250);
      }
    }
  }
}

// ---------------------------------------- Content Base

#container .page-content {
  position: relative;
  z-index: 1;
}


// ---------------------------------------- Page Header

#container .page-content header.page {
  margin-top: rem(30);
  text-align: center;
  @include desktop {
    margin-top: 0;
    text-align: left;
  }
  h1 {
    vertical-align: middle;
    margin: 0 rem(15) rem(5) 0;
    @include desktop {
      display: inline-block;
      margin-bottom: 0;
    }
  }
  .primary-action {
    position: relative;
    display: inline-block;
  }
  a.button {
    display: inline-block;
    vertical-align: middle;
    margin-top: 3px;
  }
}

// ---------------------------------------- Body

.page-content > section {
  margin-top: rem(50);
}

.page-content > p + section {
  margin-top: rem(10);
}

// ---------------------------------------- Cards

#container .page-content .card {
  clear: both;
}
