
// ---------------------------------------- Base

body {
  background: $lt-grey;

  #container {
    max-width: rem(800);
    margin: rem(25) auto;
    &.sidebar {
      padding-left: rem(250);
    }
  }
}

// ---------------------------------------- Main Header

#container header.main {
  float: right;
  margin-bottom: rem(50);
  a {
    display: inline-block;
    margin-left: rem(10);
    font-size: 0.8em;
    line-height: 1.25em;
    &.user {
      color: $dark;
      font-size: 0.9em;
    }
  }
}

// ---------------------------------------- Content Base

#container .page-content {
}


// ---------------------------------------- Page Header

#container .page-content header.page {
  h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 0 rem(15) 0 0;
  }
  a {
    display: inline-block;
    vertical-align: middle;
    margin-top: 3px;
  }
}

// ---------------------------------------- Body

.page-content > section {
  margin-top: rem(50);
}

// ---------------------------------------- Cards

#container .page-content .card {
  clear: both;
}
