body.elements.index {

  th {
    color: $md-grey;
  }

  th.icon, td.icon {
    width: rem(25);
  }

  td {
    padding: rem(5) 0;
  }

  .elements, .folders {
    td {
      font-size: 0.8em;
      font-weight: 200;
      color: $md-grey;
      &.icon {
        font-size: 1em;
      }
      &.title {
        font-size: 1em;
      }
    }
  }

  .elements {
    // -- if there are NOT any folders before this
    &:nth-child(2):before {
      content: none;
    }
    // -- if there are also folders
    &:before {
      display: block;
      content: '';
      height: rem(10);
    }
  }

  .folders {
    // -- if there are ONLY folders in the table
    &:last-child {
      tr:last-child {
        border-bottom: none;
        td { padding-bottom: rem(5); }
      }
    }
    // -- if there are also elements
    td.icon {
      color: $md-blue;
    }
    tr:last-child {
      border-bottom: $base-border;
      td {
        padding-bottom: rem(15);
      }
    }
  }
}
