
// ---------------------------------------- Show

body.properties.show {

  li.element {
    display: block;
    margin-top: 10px;
    span {
      display: block;
    }
    span.template {
      font-size: rem(10);
      text-transform: uppercase;
      font-weight: 200;
      color: $dk-grey;
    }
  }

  .block.search {
    margin-bottom: rem(25);
    box-shadow: $box-shadow;
    border: 1px solid $lt-grey;
    background: $light;

    input {
      margin: 0;
      padding: rem(10) rem(20);
      border: none;
      font-size: rem(32);
    }

    ul.results {
      background: $light;
      padding: rem(10) rem(20);
      &:empty {
        display: none;
      }

      li {
        font-size: 125%;
      }
      li a {
        color: $lt-blue;
      }
    }
  }
}

// ---------------------------------------- Edit

body.properties.edit {

  form {
    textarea {
      height: rem(200);
      margin-bottom: 0;
      font-family: $code-font-family;
    }

    #{$all-text-inputs} {
      margin-bottom: rem(5);
    }

    div.input {
      label {
        display: inline-block;
      }
    }

    div.label-input {
      @include transition(all 0.35s ease);
      &.hidden {
        opacity: 0.5;
      }
    }

    h3 {
      font-size: 1em;
      text-transform: uppercase;
    }
  }

  div.input.color {
    span, input {
      display: inline-block;
      vertical-align: middle;
    }
    span {
      @include size(rem(20) rem(20));
      background: $light;
    }
    input {
      width: calc(100% - 30px);
      margin-left: rem(3);
    }
  }
}
