
// ---------------------------------------- Edit

body.users.edit {

  aside ul li {
    font-size: 0.9em;
    margin: rem(7.5) 0;
  }

  p em {
    font-size: 0.9em;
    font-style: italic;
    color: $dk-grey;
  }
}
