<%= page_header :title => 'Deck',
                :button => { :label => 'New Property',
                             :path => new_property_path,
                             :options => { :class => 'new button' } } %>

<section class="body sites">
  <div class="full">
    <h2>Properties</h2>
    <%= render my_properties %>
  </div>
</section>
