<tr class="user">
  <!-- <td class="icon"><i class="icon-file"></i></td> -->
  <td class="primary">
    <%= link_to user.name || '(not set)', [:edit, current_property, user] %>
  </td>
  <td>
    <%= user.email %>
  </td>
</tr>
