<%= page_header(
  :title => 'Users',
  :button => {
    :label => 'New User',
    :path => new_property_user_path(current_property),
    :options => { :class => 'new button' }
  }
) %>

<section class="body">
  <% if visible_property_users.present? %>
    <div class="block">
      <table>
        <thead>
          <tr>
            <!-- <th class="icon"></th> -->
            <th class="primary">Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody class="users">
          <%= render visible_property_users %>
        </tbody>
      </table>
    </div>
  <% else %>
    <%= render 'empty' %>
  <% end %>
</section>
