<li class="element">
  <%= link_to [:edit, current_property, current_view, element] do  %>
    <span class="template">
      <%= element.template_name %>
      &nbsp;|&nbsp;
      <%= element.formatted_date(date_col) %>
    </span>
    <span class="title"><%= element.title %></span>
  <% end %>
</li>
