<%= page_header :title => 'Data Configuration' %>

<% unless current_property.valid_templates? %>
  <span class="error">Your template config is invalid.</span>
<% end %>

<section class="body">
  <%= minimal_form_for current_property do |f| %>
    <div class="block no-padding">
      <%= f.input :templates_raw, :label => false,
                  :input_html => {
                    :class => ('error' unless current_property.valid_templates?)
                  } %>
    </div>
    <div class="form-actions">
      <%= f.submit 'Save Changes' %>
    </div>
  <% end %>
</section>
