<%= page_header :title => current_property.title %>

<section>
  <div class="block">
    <h3>Some content goes here?</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae iste expedita quisquam, explicabo nam, nobis alias veritatis qui, deserunt ipsum aut voluptatum beatae voluptatibus dignissimos repellat ducimus mollitia enim blanditiis?</p>
  </div>
</section>
