form {
  &#fileupload {
    display: none;
  }

  p em {
    font-size: 0.9em;
    font-style: italic;
    color: $dk-grey;
  }

  aside ul li {
    font-size: 0.9em;
    margin: rem(7.5) 0;
  }
}

div.input {
  margin-bottom: rem(20);
  &.half {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin: 0 0.5% rem(20);
  }
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
  padding: 0;
}

label {
  display: block;
  font-weight: 400;
  margin-bottom: 0;
  color: $dk-grey;
  font-size: 0.9em;
}

input,
select {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

#{$all-text-inputs},
select[multiple] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $md-grey;
  border-radius: 0;
  box-sizing: border-box;
  font-family: $base-font-family;
  font-size: $base-font-size;
  margin-bottom: $small-spacing;
  padding: rem(5) 0;
  transition: border-color $base-duration $base-timing;
  width: 100%;

  &:hover {
    border-color: shade($base-border-color, 20%);
  }

  &:focus {
    border-color: $action-color;
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    color: $md-grey;
    border-bottom-color: $md-grey;
  }
}

input[type=submit] {
  outline: none;
  &:hover, &:focus, &:active {
    outline: none;
  }
}

textarea {
  padding: rem(5);
  border: 1px solid $md-grey;
  resize: vertical;
  border-radius: $base-border-radius;
}

[type="search"] {
  appearance: none;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $base-spacing;
  max-width: 100%;
  width: auto;
}

abbr[title] {
  text-decoration: none;
  border-bottom: none;
}

span.error {
  display: block;
  font-size: 0.9em;
  color: $error;
}
