table {
  border-collapse: collapse;
  margin: $small-spacing 0;
  table-layout: fixed;
  width: 100%;
}

th {
  font-size: 0.75em;
  font-weight: 400;
  padding: $small-spacing 0;
  text-align: left;
  text-transform: uppercase;
}

td {
  padding: $small-spacing 0;
}

tr,
td,
th {
  vertical-align: middle;
}
