<article class="document <%= document.image? ? 'img' : 'doc' %>"
         style="background-image: url(<%= document.url if document.image? %>)">
  <%= link_to [:edit, current_property, document] do %>
    <span class="title">
      <%=  document.title %>
    </span>
  <% end %>
</article>
