<%= page_header(
  :title => current_template.title,
  :button => {
    :label => 'Upload',
    :path => new_property_template_document_path(current_property, current_template),
    :options => { :class => 'new button' }
  }
) %>

<section class="batch-uploader active">
  <%= s3_uploader_form(
    :post => property_template_documents_path(current_property, current_template),
    :key => document_upload_key,
    :html => { :multipart => true },
    :as => "document[url]",
    :acl => current_template.aws_acl
  ) do %>
    <%= file_field_tag :file, :multiple => true %>
  <% end %>

  <script id="template-upload" type="text/x-tmpl">
  <div class="embedded upload">
    <div class="content">
      <h3>{%=o.name%}</h3>
      <div class="progress"><div class="bar" style="width: 0%"></div></div>
    </div>
    <p class="waiting">Waiting patiently in line ...</p>
  </div>
  </script>
</section>

<section class="body">
  <%= render(current_template.private? ? 'elements/list' : 'list') %>
</section>
