<div class="page-content">
  <header class="page">
    <h1 class="title">Oh no!</h1>
  </header>

  <section class="body properties">
    <div class="block full">
      <h2>You may be lost.</h2>
      <p>The page you are on does not exist. Isn't that silly? You should probably just <a href="/">go home</a> and try again.</p>
    </div>
  </section>
</div>
