<div class="page-content">
  <header class="page">
    <h1 class="title">Oh no!</h1>
  </header>

  <section class="body properties">
    <div class="block full">
      <h2>OK, this one is on us.</h2>
      <p>Something funky is going on behind the scenes. You should
        <a href="/">go home</a> (or back) and try again.</p>
      <p>If the problem persists, it may be a bug with Sapwood. You're welcome to
        <a href="https://github.com/seancdavis/sapwood/issues/new" target="_blank">submit a new issue</a> on GitHub, and the Sapwood team will look into it.</p>
    </div>
  </section>
</div>
