footer.main {
  @include position(fixed, null null 0 0);
  @include size(rem(250) rem(60));
  padding: rem(10) rem(15);
  box-sizing: border-box;

  > a {
    img, svg {
      width: rem(100);
    }
  }

}

body.deck.show, body.sessions, body.passwords {
  #container + footer.main {
    display: none;
    @include desktop {
      display: block;
    }
  }
}

#container + footer.main {
  z-index: 999;
  background: $light;
  @include desktop {
    z-index: 0;
    background: transparent;
  }
}

#container.sidebar + footer.main {
  display: none;
  @include desktop {
    display: block;
    z-index: 999;
    background: $light;
  }
}
