footer.main {
  @include position(fixed, null null 0 0);
  @include size(rem(250) rem(60));
  padding: rem(10) rem(15);
  box-sizing: border-box;

  > a {
    img, svg {
      width: rem(100);
    }
  }

}

#container.sidebar + footer.main {
  background: $light;
}
