#sidebar-trigger {
  @include position(fixed, 15px null null 15px);
  z-index: 99999;
  text-transform: uppercase;
  font-size: 0.8em;
  color: $light;
  &.active {
    color: $dark;
    span {
      display: none;
    }
  }
}

aside.main {
  @include position(fixed, 0 null null 0);
  @include size(rem(250) 100vh);
  padding-bottom: 50px;
  overflow-y: scroll;
  box-sizing: border-box;
  background: $light;
  box-shadow: $box-shadow;
  &.hidden {
    display: none;
  }

  div.controls {
    position: relative;
    padding: rem(15);
    @include wood-background;

    > a {
      @include position(absolute, 15px 15px null null);
      text-transform: uppercase;
      font-size: 0.8em;
      color: $light;
    }

    .current-property {
      margin-top: rem(30);
      span {
        &.color-block {
          display: inline-block;
          @include size(rem(14));
          margin-right: rem(5);
        }
        &.title a {
          font-size: inherit;
          color: $light;
          &.edit {
            float: right;
          }
          i {
            font-size: 1.25em;
          }
        }
      }
    }

    .search {
      margin-top: rem(50);
      input {
        margin: 0;
        border-bottom: 0;
        font-size: 1.25em;
        color: $light;
      }
    }
  }

  nav {
    padding: rem(15) rem(25);
    ul li a {
      display: block;
      margin: 0 0 rem(15) 0;
      font-size: 1.25em;
      color: $dark;
      &.active {
        font-weight: 600;
      }
    }
  }


}
