#sidebar-trigger {
  @include position(fixed, 15px null null 15px);
  z-index: 99999;
  text-transform: uppercase;
  font-size: 0.8em;
  color: $dark;
  &.toggle {
    color: $light;
    span {
      display: inline;
    }
  }
  span {
    display: none;
  }
  @include desktop {
    color: $light;
    span {
      display: inline;
    }
    &.toggle {
      color: $dark;
      span { display: none; }
    }
  }
}

aside.main {
  @include position(fixed, 0 null null 0);
  @include size(rem(250) 100vh);
  display: none;
  padding-bottom: 50px;
  overflow-y: scroll;
  box-sizing: border-box;
  background: $light;
  box-shadow: $box-shadow;
  z-index: 99;
  &.toggle {
    display: block;
  }
  @include desktop {
    display: block;
    &.toggle {
      display: none;
    }
  }

  div.controls {
    position: relative;
    padding: rem(15);
    @include wood-background;

    > a {
      @include position(absolute, 15px 15px null null);
      text-transform: uppercase;
      font-size: 0.8em;
      color: $light;
    }

    .current-property {
      margin-top: rem(30);
      span {
        &.color-block {
          display: inline-block;
          @include size(rem(14));
          margin-right: rem(5);
        }
        &.title .dropdown {
          float: right;
          & + .dropdown {
            margin-right: rem(10);
            @include desktop {
              margin-right: 0;
            }
          }
          &.active > a {
            padding: rem(10);
            background: $light;
            color: $dark;
          }
          ul {
            width: rem(200);
            right: 2px;
          }
        }
        &.title .dropdown > a {
          padding: rem(10) 0;
          line-height: 1;
          transition: 0.25s ease;
          border-radius: 3px;
        }
        &.title > a, &.title .dropdown > a {
          font-size: inherit;
          color: $light;
          i {
            font-size: 1.25em;
          }
        }
      }
    }

    .search {
      margin-top: rem(50);
      input {
        margin: 0;
        border-bottom: 0;
        font-size: 1.25em;
        color: $light;
      }
    }
  }

  nav {
    padding: rem(15) rem(25);
    ul li a {
      display: block;
      margin: 0 0 rem(15) 0;
      font-size: 1.25em;
      color: $dark;
      &.toggle-sub-menu {
        margin-bottom: rem(10);
      }
      &.active {
        font-weight: 600;
      }
    }
    ul li ul {
      display: none;
      margin-left: rem(20);
      &.active {
        display: block;
      }
      li a {
        margin-bottom: rem(10);
        font-size: 1em;
      }
      li:last-child a {
        margin-bottom: rem(15);
      }
    }
    .hidden-list-action {
      color: $dk-grey;
      display: none;
      font-size: .75rem;
      float: right;
      margin: 6px 0 0 .5rem;
      text-transform: uppercase;
    }
    li:hover .hidden-list-action {
      display: inline-block;
    }
  }


}
