div.block {
  box-sizing: border-box;
  width: 97.5%;
  margin: 0 0.5% rem(15);
  padding: rem(15);
  font-size: 16px;
  border-radius: $base-border-radius;
  background: $light;
  box-shadow: $box-shadow;
  &.half {
    display: inline-block;
    vertical-align: top;
    width: 48%;
  }
  &.right {
    text-align: right;
  }
  &.quiet {
    padding: 0;
    background: transparent;
    box-shadow: none;
  }
}
