div.block {
  position: relative;
  box-sizing: border-box;
  margin: 0 0 rem(15);
  padding: rem(15);
  font-size: 16px;
  border-radius: $base-border-radius;
  background: $light;
  box-shadow: $box-shadow;
  @include desktop {
    width: 97.5%;
    margin-right: 0.5%;
    margin-left: 0.5%
  }
  &.half {
    @include tablet {
      display: inline-block;
      width: 48%;
      vertical-align: top;
      margin-right: 0.5%;
      margin-left: 0.5%
    }
  }
  &.right {
    text-align: right;
  }
  &.quiet {
    padding: 0;
    background: transparent;
    box-shadow: none;
  }
  &.aside {
    @include tablet {
      padding-right: rem(275);
    }
  }
  &.no-padding {
    padding: 0;
  }

  aside {
    display: none;
    @include position(absolute, 0 0 null null);
    @include size(rem(250) 100%);
    padding: rem(15);
    box-sizing: border-box;
    @include linear-gradient(90deg, $xlt-blue, $light);
    overflow: scroll;
    @include tablet {
      display: block;
    }

    h3 {
      padding-bottom: rem(10);
      font-size: 1em;
      text-transform: uppercase;
      border-bottom: $base-border;
    }
    dl {
      white-space: nowrap;
      font-size: 0.85em;
      dt, dd {
        display: inline;
      }
      dt {
        font-weight: 600;
        &:before {
          display: block;
          margin-top: rem(10);
          content: '';
        }
      }
    }
  }
}
