div.card {
  width: 100%;
  margin: rem(50) auto 0;
  overflow: hidden;
  background: $light;
  border-radius: $base-border-radius;
  box-shadow: $box-shadow;
  @include tablet {
    width: rem(500);
  }

  .logo {
    text-align: center;
    img, svg {
      max-width: 65%;
    }
  }

  .title {
    position: relative;
    padding: rem(15);
    color: $light;
    @include wood-background;
    h1 {
      margin-bottom: 0;
      font-size: 1em;
      &.small {
        margin: rem(10) 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 0.75em;
      }
    }
    .progress {
      @include position(absolute, null null 0 0);
      @include size(100% rem(3));
      background: $md-blue;
    }
  }

  .content {
    @include clearfix;
    padding: rem(15);
    &.center {
      text-align: center;
    }
    .right {
      float: right;
    }
  }

  input[type=submit] {
    float: right;
    margin-top: rem(10);
    background: $dk-grey;
  }

  a.info {
    float: left;
    margin-top: rem(15);
    font-size: 0.85em;
    text-transform: uppercase;
  }
}
