.dropdown {
  position: relative;

  &.right ul {
    left: auto;
    right: 0;
  }

  &.active ul {
    display: block;
  }

  ul {
    display: none;
    position: absolute;
    z-index: 9999;
    box-shadow: $box-shadow;
    border-radius: $base-border-radius;
    background: $light;

    li {
      display: block;
      &.section {
        border-bottom: $base-border;
        a {
          padding: rem(10);
        }
      }
      h3 {
        margin-bottom: rem(5);
        padding: rem(10) rem(10) 0 rem(10);
        font-size: 0.75em;
        font-weight: 200;
        text-transform: uppercase;
        color: $md-grey;
      }
    }
    a {
      display: block;
      padding: rem(5) rem(10);
      @include transition(all 0.35s ease);
      &:hover {
        background: darken($light, 5%);
        color: $md-blue;
      }
      i {
        display: inline-block;
        font-size: 0.8em;
      }
    }
  }
}
