#modal {
  @include position(fixed, null null -100% 0);
  @include size(100%);
  z-index: 9999999;
  background: $lt-grey;
  overflow-y: scroll;
  @include transition(all 0.35s ease);
  &.active {
    bottom: 0;
  }

  .modal-title {
    @include position(absolute, 0 null null 0);
    width: 100%;
    box-sizing: border-box;
    background: $md-blue;
    h1 {
      text-align: center;
      margin: 10px 0;
      color: $light;
      font-size: 1.75em;
      font-weight: 400;
    }
    .close-modal {
      @include position(absolute, 7px 15px null null);
      color: $light;
      font-size: 1.75em;
      font-weight: 400;
    }
  }

  .modal-content {
    margin-top: 50px;
    padding: 50px;
  }
}
