p.notice, p.alert {
  display: none;
  margin: rem(40) rem(15) 0;
  padding: rem(5) rem(10);
  border-radius: $base-border-radius;
  background: $md-blue;
  color: $light;
  @include desktop {
    margin-left: 0;
    margin-right: 0;
  }
  &.active {
    display: block;
  }
}

p.empty {
  margin: 0;
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
  color: $md-grey;
}
