p.notice, p.alert {
  display: none;
  margin-top: rem(40);
  padding: rem(5) rem(10);
  border-radius: $base-border-radius;
  background: $md-blue;
  color: $light;
  &.active {
    display: block;
  }
}

p.empty {
  margin: 0;
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
  color: $md-grey;
}
