div.search ul.results {

  li {
    margin-top: 10px;
    color: $light;
    &:last-child {
      margin-bottom: 10px;
    }
    &.no-results {
      font-style: italic;
      color: $dk-grey;
      font-size: rem(12);
    }
  }

  li a {
    color: $light;
    span {
      display: block;
    }
    span.template {
      font-size: rem(10);
      text-transform: uppercase;
      font-weight: 200;
      color: $dk-grey;
    }
  }
}
