div.input.multiselect {

  .selected-options li,
  .selected-container li {
    > span, > a {
      display: inline-block;
      margin-right: $small-spacing;
    }
    a.remove {
      font-size: 75%;
      &:before {
        @include icon;
        @extend .icon-delete;
        display: inline-block;
        margin-right: 3px;
      }
    }
  }
}
