.batch-uploader, .uploader {
  display: none;
  &.active {
    display: block;
  }
}

.document-url {
  margin-bottom: 10px;
  &.hidden {
    display: none;
  }
  img, span {
    display: inline-block;
    vertical-align: bottom;
  }
  img {
    max-width: 50px;
    margin-right: 10px;
  }
  span {
    line-height: 1;
  }
}

.document-uploader, .bulk-document-uploader {
  margin-bottom: rem(20);
  .document-chooser, .bulk-document-chooser {
    margin-right: 5px;
  }
  .upload-trigger {
    background-color: $dk-grey;
  }
  label {
    margin-bottom: rem(5px);
  }
}

div.embedded.upload {
  width: 100%;
  margin: rem(5) 0;
  padding: rem(5) 0 rem(15) 0;
  border-bottom: 1px solid $md-grey;

  .content {
    .progress {
      background: $md-grey;
      .bar {
        height: 10px;
        background: $md-blue;
      }
    }
    h3 {
      margin-bottom: rem(10);
      font-size: 1em;
      text-transform: uppercase;
    }
  }
  p {
    margin: 0;
    font-weight: 600;
    line-height: 1;
    &.error, &.alert {
      color: $error;
    }
    &.success {
      padding: 0;
      background: transparent;
      color: $success;
    }
    &.waiting {
      margin-top: 10px;
      font-weight: 200;
      font-style: italic;
      font-size: 0.8em;
    }
  }
}

div.full-screen.upload {
  display: table;
  @include position(fixed, 0 null null 0);
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: rgba($dark, 0.8);

  .content {
    display: table-cell;
    vertical-align: middle;
    .progress {
      border: solid 1px #555;
      border-radius: 3px;
      background: $dark;
      .bar {
        height: 10px;
        background: $md-blue;
      }
    }
    h3 {
      text-align: center;
      font-size: modular-scale(1);
      color: $light;
    }
  }
}
