<body style="width: 600px;
             margin: 25px auto;
             font-family: Roboto, Helvetica, Arial, sans-serif;
             font-size: 16px;">

  <p style="background-image: url('<%= image_path('background.jpg') %>');
            margin: 0;
            padding: 25px;
            text-align: center;">
    <img src="<%= image_path('sapwood-wordmark-light.png') %>" alt="Sapwood"
         style="max-width: 300px;">
  </p>

  <span style="display: block;
               background-color: #F0EEE8;
               padding: 25px;
               border: 1px solid #BEBDB9;
               border-top: none;">
    <p style="margin-top: 0;">
      Hello
      <span style="font-weight: 600;"><%= @resource.display_name %></span>!
    </p>

    <p>
      Someone has requested a link to change your password. You can do this
      through the link below.
    </p>

    <p style="margin: 35px 0;
              text-align: center;">
      <a href="<%= edit_password_url(@resource, reset_password_token: @token) %>"
         style="background-color: #61C2C2;
                color: #FFFFFF;
                text-decoration: none;
                font-size: 13px;
                padding: 5px 15px;
                border-radius: 3px;">
        CHANGE MY PASSWORD
      </a>
    </p>

    <p>If you didn't request this, please ignore this email.</p>

    <p style="margin-bottom: 0;">
      Your password won't change until you access the link above and create a
      new one.
    </p>
  </span>
</body>
