<div class="card">
  <div class="title">
    <h1><%= options[:title] %></h1>
    <% if options[:progress] %>
      <span class="progress" style="width: <%= options[:progress] %>%"></span>
    <% end %>
  </div>
  <div class="content <%= 'center' if options[:centered] %>">
    <%= options[:content] %>
  </div>
</div>
