<header class="page">
  <h1 class="title"><%= options[:title] %></h1>
  <div class="primary-action">
    <%= link_to options[:button][:label], options[:button][:path],
                (options[:button][:options] || {}) if options[:button] %>
    <%= render options[:dropdown] if options[:dropdown] %>
  </div>
  <% if options[:notifications] %>
    <%= link_to '', notification_toggle_path(options[:notifications]),
                :method => :post,
                :class => "notification-toggle #{'on' if notification_on?}" %>
  <% end %>
</header>
