<nav class="template dropdown">
  <ul>
    <% current_property.templates.each do |t| %>
      <li>
        <%= link_to t.title,
                    [:new, current_property, :element, :template => t.title] %>
      </li>
    <% end %>
  </ul>
</nav>
